
.navbar-brand img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
    margin-top: 12px;


}   
.mainhead{
    background-color: rgb(247, 154, 131);
    position: sticky;
    top: 0px;
    border-bottom:2px solid white;
    z-index: 1;
}

.head{
    margin-right: 35px;
    font-size: 20px;
    color: white;
}
.head:hover{
    text-decoration: underline;
    color: white;
}
@media(max-width:992px) {
    .color-change{
        color: white;
        background-color: green;
        text-align:center ;

    }
    
}
.picone{
    width: 100%;
    height: 950px;

    background-image: url(images/image1.webp);
    background-size: cover;

}
.picone h1{
    margin: 0;

    position: absolute;
    top: 343px;
    left: 131px;
    font-size: 77px;
    text-transform: uppercase;
    color: white;
}
.picone button{

    position: absolute;
    top: 526px;
    left: 130px;
    border-radius: 20px;
    width: 155px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.pictwo{
    width: 100%;
    height: 950px;
    background-image: url(images/image2.webp);
    background-size: cover;
    position: relative;
    
}

.buttondiv{
    position: absolute;
    width: 888px;
    background-color: rgba(0, 106, 14, .75);
    margin: 330px 300px;
    border-radius: 100px;
    height: 213px;
    padding: 30px 264px;
    box-sizing: border-box
}
.textone{
    color: white;
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: 0;
    font-family: sans-serif;
    word-spacing: 0px;
}
.paraone{
    color: white;
    margin: 2;
}
.buttonone{
    width: 180px;
    height: 40px;
    border-radius: 40px;
    margin: 10px 80px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: large;
}
.picthree{
    width: 100%;
    height: 800px;
background-image:url(images/image3sub.webp);
background-size: cover;
}
.buttondiv1{
    position: absolute;
    width: 888px;
    background-color: rgba(0, 106, 14, .75);
    margin: 330px 300px;
    border-radius: 100px;
    height: 217px;
    padding: 37px 205px;
    box-sizing: border-box;
}

.texttwo{
    color: white;
    margin-left: 80px;
    margin-top: auto;
    margin-bottom: 0;
    font-family: sans-serif;
    word-spacing: 0px;
}
.buttontwo{
    width: 180px;
    height: 40px;
    border-radius: 40px;
    margin: 0px 150px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: large;
}
@media(max-width:1190px){

    .buttondiv{
            position: absolute;
            width: 761px;
            background-color: rgba(0, 106, 14, .75);
            margin: 330px 221px;
            border-radius: 100px;
            height: 170px;
            padding: 13px 200px;
            box-sizing: border-box
        
    }  
    .buttondiv1{
        position: absolute;
        width: 793px;
        background-color: rgba(0, 106, 14, .75);
        margin: 330px 160px;
        border-radius: 100px;
        height: 174px;
        padding: 23px 142px;
        box-sizing: border-box;
    }
}
    
    @media(max-width:987px){


        .buttondiv{
            margin: 330px 107px;
        }
        .buttondiv1{
            margin: 330px 107px;
        }
    
    }
    @media(max-width:910px){
        .buttondiv{
            padding: 13px 141px;
            width: 641px;
            margin: 330px 133px;
        }
        .buttondiv1 {
            padding: 13px 83px;
            width: 641px;
            margin: 330px 134px;
        }
    }
        @media (max-width:787px){
            .picone{
                background-image: url(images/image1sub.webp);
                background-size: cover;
                background-position:center;
            }
            .picone h1{
                top: 843px;
                left: 260px;
                font-size: 55px;
            }
            .picone button{
                top: 986px;
                left: 333px;
            }
            .pictwo{
                background-image: url(images/image2sub.webp);
                background-size: cover;
                background-position:center;
            }
            .buttondiv{
                    padding: 13px 83px;
                    width: 523px;
                    margin: 330px 131px;
                
            }
            .picthree{
                background-image: url(images/image3sub.webp);
                background-size: cover;
                background-position:center;
            }
            .buttondiv1{
                padding: 13px 25px;
                width: 523px;
                margin: 330px 131px;
            
        }
            
        }
        @media (max-width:655px){
            .pictwo{
                background-image: url(images/image2sub.webp);
                background-size: cover;
                background-position:center;
            }
            .buttondiv{
                padding: 13px 83px;
                width: 523px;
                margin: 330px 66px;
            
        }

            .buttondiv1 {
                padding: 13px 25px;
                width: 523px;
                margin: 330px 66px;
            }
            
        }
        @media (max-width:591px){
            .pictwo{
                background-image: url(images/image2sub.webp);
                background-size: cover;
                background-position:center;
            }
            .buttondiv{
                margin: 330px 26px;
            }
            .buttondiv1 {
                padding: 13px 25px;
                width: 523px;
                margin: 330px 34px;
            }
            
            
        }
        @media (max-width:557px){
            .pictwo{
                background-image: url(images/image2sub.webp);
                background-size: cover;
                background-position:center;
            }
            .picone h1{
                top: 819px;
                left: 137px;
                font-size: 51px;
            }
            .picone button{
                top: 956px;
                left: 202px;
            }
            .buttondiv{
                position: absolute;
                width: 427px;
                margin: 330px 60px;


                height: 134px;
                padding: 37px 79px;
                font-size: 12px;

            }
            .textone{
                font-size: 20px;
                margin: -6px 91px
            }
            
            .buttonone{
                margin: -8px 46px;
                height: 35px;
                width: 180px;
            }
            
            .buttondiv1{
                padding: 13px 25px;
                font-size: 12px;
                width: 427px;
                margin: 330px 61px;
                height: 134px;
            }
            .texttwo{
                font-size: 20px;
                margin: 0px 104px
            }
            .buttontwo{
                margin: -7px 104px;
                height: 44px;
                width: 180px;

        }
    }
    @media (max-width:487px){
        .pictwo{
            background-image: url(images/image2sub.webp);
            background-size: cover;
            background-position:center;
        }
        .buttondiv {
            position: absolute;
            width: 382px;
            margin: 330px 30px;
            height: 132px;
            padding: 25px 57px;
            font-size: 12px;
        }
 
        .texttwo{
            font-size: 11px;
            margin: 6px 116px;
        }
        .buttontwo{
            margin: -5px 80px;
            height: 33px;
            width: 174px;
    }
    .buttondiv1{
        padding: 11px 24px;
        font-size: 12px;
        width: 382px;
        margin: 330px 30px;
        height: 134px
    }
    }
    @media (max-width:415px){
        .pictwo{
            background-image: url(images/image2sub.webp);
            background-size: cover;
            background-position:center;
        }
        .picone h1 {
            top: 819px;
            left: 89px;
            font-size: 51px;
        }
        .picone button {
            top: 951px;
            left: 147px;
        }
        .buttondiv {
            position: absolute;
            width: 356px;
            margin: 330px 30px;
            height: 132px;
            padding: 25px 57px;
            font-size: 12px;
        }
            .textone {
                font-size: 18px;
                margin: -6px 95px;
            }

 
        .texttwo{
            font-size: 12px;
            margin: 6px 116px;
        }
        .buttontwo {
            margin: -5px 80px;
            height: 32px;
            width: 170px;
        }
    .buttondiv1{
        padding: 11px 27px;
        font-size: 12px;
        width: 364px;
        margin: 330px 16px;
        height: 134px;
    }
    }
    @media (max-width:385px){
        .pictwo{
            background-image: url(images/image2sub.webp);
            background-size: cover;
            background-position:center;
        }
        .picone h1 {
            top: 819px;
            left: 64px;
            font-size: 48px;
        }
        .picone button {
            top: 945px;
            left: 113px;
        }
        .buttondiv {
            position: absolute;
            width: 356px;
            margin: 330px 13px;
            height: 132px;
            padding: 25px 57px;
            font-size: 12px;
        }
            .textone {
                font-size: 18px;
                margin: -6px 95px;
            }

 
        .texttwo{
            font-size: 10px;
            margin: 6px 112px;
        }
        
        .buttontwo {
            margin: -5px 80px;
            height: 32px;
            width: 170px;
        }
    .buttondiv1{
        padding: 11px 27px;
        font-size: 12px;
        width: 364px;
        margin: 329px 9px;
        height: 134px;
    }
    }  
    /* @media (max-width:371px){
        .picone h1 {
            top: 819px;
            left: 64px;
            font-size: 48px;
        }
        .picone button {
            top: 945px;
            left: 113px;
        }
        .buttondiv {
            position: absolute;
            width: 356px;
            margin: 330px 13px;
            height: 132px;
            padding: 25px 57px;
            font-size: 12px;
        }
            .textone {
                font-size: 18px;
                margin: -6px 95px;
            }
    
    
        .texttwo{
            font-size: 10px;
            margin: 6px 56px;
        }
        
        .buttontwo {
            margin: -5px 91px;
            height: 32px;
            width: 170px;
        }
        .buttondiv1 {
            padding: 7px 20px;
            width: 406px;
            margin: 330px 22px;
        }
    } */
    
    @media(max-width:370px){
        .pictwo{
            background-image: url(images/image2sub.webp);
            background-size:cover;
            background-position:center;
            height: 400px;
        }
        .picthree{
            background-image: url(images/image3sub.webp);
            background-size:cover;
            background-position:center;
            height: 400px;
        }
        .picone h1 {
            top: 819px;
            left: 55px;
            font-size: 43px;
        }
        .picone button {
            top: 939px;
            left: 102px;
        }
        .buttondiv {
            padding: 25px 60px;
            width: 309px;
            margin: 150px 0px;
        }

        .buttonone {
            margin: -8px 22px;
            height: 35px;
            width: 162px;
        }
        .textone {
            font-size: 18px;
            margin: -6px 58px;
        }
        .buttondiv1 {
            padding: 11px 14px;
            width: 288px;
            margin: 150px 0px;
        }
        .texttwo {
            font-size: 10px;
            margin: 6px 87px;
        }
        .buttontwo {
            margin: -8px 67px;
            height: 32px;
            width: 170px;
        

    }
}
.foot a{
    color: white;
    margin-right: 20px;
    text-decoration: none;

}
.foot a:hover{
    text-decoration: underline;
}

